<div class="container-fluid background-color" data-ng-init="findAllJourneys()">

        <h1 class="title">Search journey</h1>

        <div class="add-journey-map">
            <ng-map zoom="14"
                    center="resistencia, chaco"
                    style="height:90%" >
                <directions
                        draggable="true"
                        travel-mode="DRIVING"
                        origin={{startAddressModel}}
                        destination={{endAddressModel}}
                </directions>
            </ng-map>
        </div>

        <form role="form" class="row">
            <div class="form-group col-md-3">
                <label>Origin</label>
                <input type="text" class="form-control" ng-change="fetchFindStart()" ng-model="findStartAddressModel" ng-model-options="{ debounce: 50 }" placeholder="Enter the origin city"/>
            </div>
            <div class="form-group col-md-3">
                <label>Destination</label>
                <input type="text" class="form-control" ng-change="fetchFindEnd()" ng-model="findEndAddressModel" ng-model-options="{ debounce: 50 }" placeholder="Enter the destination city"/>
            </div>
            <div class="form-group col-md-2">
                <label>When</label>
                <input type="date" class="form-control" ng-change="searchByDate()" ng-model="searchDateModel" placeholder="Enter the date of the travel">
            </div>
        </form>

        <div class="row">
            <div class="form-group col-md-1">
                <a class="btn btn-primary bla" data-ng-click="searchData()">
                    <i>Search</i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Routes:</h3>
                <div data-ng-repeat="journey in journeys | limitTo: offset - journeys.length | limitTo: pageSize" class="list-group-item">
                    <label>From: </label><span data-ng-bind="journey.startAddress"></span><br>
                    <label>To: </label><span data-ng-bind="journey.endAddress"></span><br>
                    <label>Posted by: </label><span data-ng-bind="journey._id"></span><br>
                    <a class="btn btn-primary bla" data-ng-href="#!/journeys/{{journey._id}}">
                        <i>Details</i>
                    </a>
                </div>
                <!-- this is the paging control -->
                <pagination total-items="journeys.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="journeys.length > pageSize"></pagination>
                <!-- end -->
            </div>


            <div class="col-md-6">
                <h3>filters:</h3>
                <input type="checkbox"><br>

                <input type="checkbox"><br>

                <input type="checkbox"><br>

                <input type="checkbox"><br>

                <input type="checkbox"><br>
            </div>
        </div>
    </div>
</div>


